<h1 class="text-center">Edit Post</h1>

<div class="row pt-2 pb-2">
    <div class="col-0 col-sm-2 col-lg-4"></div>
    <div class="col-12 col-sm-8 col-lg-4">
        <form [formGroup]="postForm" (ngSubmit)="handleEdit()" class="custom-form">
            <div class="form-group">
                <label for="name">Name</label>
                <input formControlName="name" id="name" class="form-control" type="text" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea formControlName="content" id="content" class="form-control" rows="3" placeholder="Enter content"></textarea>
            </div>
            <div *ngIf="status === 'ERROR'" class="edit-post__error-box">{{errorMessage}}</div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Edit</button>
            </div>
        </form>
    </div>
    <div class="col-0 col-sm-2 col-lg-4"></div>
</div>
