.LoginPage {
    background-image: url("../../assets/Arthas.jpg");
    background-size: cover;
    padding: 20px;
}

.LoginPage__h1 {
    padding-bottom: 20px;
    font-family: "Inter-Bold";
    font-size: 32px;
    text-align: center;
    color: #c4b998;
    text-shadow: 4px 2px 2px rgb(0 0 0 / 80%);
}

.LoginPage__container {
    position: relative;
    width: 500px;
    margin: auto;
    background: rgb(0 0 0);
    box-shadow: 0 0 3px 1px #212d28;
}

.LoginPage__errors-container {
    position: relative;
    width: 500px;
    margin: auto;
    background-color: #360e10;
    box-shadow: 0px 0px 0px 1px #551e21 inset, 0 5px 10px rgba(0, 0, 0, 0.75);
    color: #ffffffb3;
    border: 1px solid #000;
    margin-bottom: 15px;
    padding: 10px 20px 10px 50px;
    font-family: 'Inter-Regular';
}

#LoginPage__form {
    width: 80%;
    margin: auto;
    text-align: center;
    letter-spacing: 0.0625em;
    font-family: "Inter-Medium";
    font-weight: 700;
    color: #bcbcbc;
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 20px;
}

#LoginPage__form a {
    color: #c4b998;
    text-decoration: none;
}

#LoginPage__form p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}